.fade-animation {
    opacity: 0;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.fly-animation {
    transform: translateY(50%);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}