.fade-animation-hide {
    opacity: 0;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.fade-animation-show {
    opacity: 1;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.fly-animation-hide {
    transform: translateY(50%);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.fly-animation-show {
    transform: translateY(0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}